.lista {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
}
.navbar,
footer {
  background-color: rgb(19, 18, 18);
}

.card {
  background-color: rgb(19, 18, 18) ;
}

.size-carousel{
  width: 80%;
}