.lista {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
}
.navbar,
footer {
  background-color: rgb(19, 18, 18);
}


/* control horizontal scroll */
.horizontal-scroll {
  display: inline-flex;
  padding: 1px;
}

#withScrollX {
  overflow-x: hidden;
  width: 100%;
}

.smallCard {
    border: 0;
    width: 170px;
    min-width: 170px;
    min-height: 210px;
    margin-left: 15px;
    margin-bottom: 20px;
  }
/* investigar como usar overflow-x */

/* formulario */
.iconos{
  border: none;
  background-color: transparent;
  width: 50px;
}
.editar{
  color:yellow;
}
.eliminar{
  color: red;
}
.publicado{
  color:white;
}